.password-input-container {
    position: relative;
  }
  
  .password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.2s;
    position: relative;
  }
  
  .password-input:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 10px;
    background: transparent;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .password-input:focus,
  .password-input:focus-within,
  .password-input:hover,
  .password-input:active {
    border-color: #666;
    outline: none;
    box-shadow: 0 0 5px #666;
  }
  
  .password-input:focus-within:before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .password-input::placeholder {
    color: #999;
  }